[submodule "LazyVim"]
	path = LazyVim
	url = https://github.com/LazyVim/LazyVim.git
[submodule "kickstart"]
	path = kickstart
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule "AstroNvim"]
	path = AstroNvim
	url = https://github.com/AstroNvim/AstroNvim.git
[submodule "nvim-tree"]
	path = nvim-tree
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "neo-tree"]
	path = neo-tree
	url = git@github.com:nvim-neo-tree/neo-tree.nvim.git
